// 定义全局样式

body {
  margin: 0;
}
p {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 5px 0;
}

.mb-s {
  margin-bottom: 8px;
}
.mb-m {
  margin-bottom: 16px;
}
.mb-l {
  margin-bottom: 24px;
}
.mt-s {
  margin-top: 8px;
}
.mt-m {
  margin-top: 16px;
}
.mt-l {
  margin-top: 24px;
}

.table-header-operations {
  text-align: right;
  .left {
    float: left;
  }
}
